@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 30px;
    width: 400px;
}

.header {
    color: black;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
}

.url {
    width: 100%;
}

input {
    margin-top: 2%;
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    background-color: transparent;
    font-family: "Roboto";
    margin-bottom: 5%;
    border-radius: 5px;
}

button {
    margin-top: 2%;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: "Baloo Bhaina 2";
    cursor: pointer;
}

.qr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* transition: opacity 1s ease, transform 1s ease; */
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
    /* transform: scale(0.8); */
}

/* .qr.show {
    opacity: 1;
    transform: scale(1);
} */

canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30%;
}

.hide {
    display: none;
}